---

- name: Fail if required authentik settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - authentik_hostname
    - authentik_database_hostname
    - authentik_database_username
    - authentik_database_password
    - authentik_secret_key
    - authentik_config_redis_hostname

- name: Fail when SMTP settings are missing (and SMTP is enabled by setting host)
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) to correctly set up email via SMTP.
  when: "authentik_email_host !='' and vars[item] == ''"
  with_items:
    - authentik_email_username
    - authentik_email_password
    - authentik_email_port

- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "item.old in vars"
  with_items:
    - {'old': 'authentik_server_container_additional_networks_custom', 'new': 'authentik_container_additional_networks_custom'}
